.editorconfig
.github/
.nyc_output/
/artifacts/
/bin/
/build/
/coverage/
/docs/
/results/
/src/
/tests/
/tmp/
lcov-*
xunit*
TEST_*
*.log
*~
*.tap
.babelrc.json
.eslintignore
.eslintrc.js
.prettierignore
.travis.yml
Gruntfile.js
